.btn-main {
  background-color: #d41b27;
  width: 225px;
  height: 65px;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 22px;
  transition: all 0.5s ease-out;
  box-shadow: 0px 2px #948586;
}

.btn-main:hover {
  background-color: #b00f1a;
  cursor: pointer;
  transform: translateY(-5px);
}

.top-nav {
  top: 3.5%;
  right: 5%;
  position: absolute;
}
