.option-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;

  transition: all 0.3s ease-in;
}

.option-btn:hover {
  color: #d41b27;
  cursor: pointer;
}

.option-btn:disabled {
  color: #948586;
  cursor: not-allowed;
}

.option-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  background-color: #e0d9d9;

  margin: 0;
  position: absolute;
  top: 7%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation: fadeIn 0.3s ease-in;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
