.curItem {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  left: 0;
  /* background-color: #111; */
}

.listItems {
  flex-direction: column;
  height: 85%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 5%;

  overflow: scroll;
  scroll-behavior: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  right: 0;
  display: flex;
  justify-content: center;
}

.itemImage {
  display: flex;
  align-items: center;
}

.itemImage img {
  margin: auto;
  width: 70%;
  /* height: 60%; */
}

.itemName {
  font-size: 30px;
  font-weight: bold;
}

.outer {
  margin: 40px auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 50%;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #c88489;
  padding: 5px;
  justify-content: space-evenly;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 70%;
  margin: 4px;
  border-radius: 100px;
  border: 1px solid #c88489;
  color: black;
  font-size: 22px;
  transition: all 0.5s ease-out;
}

.veg {
  background-color: #84c88b;
  border: none;
  color: white;
}

.option-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #d41b27;

  transition: all 0.3s ease-out;
}

.option-btn:hover {
  color: #d41b27;
  cursor: pointer;
}

.option-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  background-color: #e0d9d9;

  margin: 0;
  position: absolute;
  top: 5%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0d9d9;

  margin: 0;
  position: absolute;
  /* top: 70%; */
  left: 49%;
  bottom: 5%;
  width: 700px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
}

.btn-main {
  background-color: #d41b27;
  width: 225px;
  height: 65px;
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 22px;
  transition: all 0.5s ease-out;
  box-shadow: 0px 2px #948586;
}

.btn-main:hover {
  background-color: #b00f1a;
  cursor: pointer;
  transform: translateY(-5px);
}

.btn-main:disabled {
  background-color: #aaa2a2;
  cursor: not-allowed;
}

.listItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  width: 80%;

  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;

  justify-content: space-evenly;
}

.listItem:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.non-veg {
  background-color: #c55454;
  color: white;
}

.veg-listItem {
  background-color: #46c253;
}

.non-veg-listItem {
  background-color: #c55454;
}

.image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 25%;
  background-color: transparent;
  border-radius: 30px;
}

.image img {
  width: 100%;
  height: 100%;
}

.vl {
  border-left: 2px solid white;
  height: 70%;
}

.container {
  height: 100%;
  width: 55%;
  justify-content: space-evenly;
}

.container-description {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
}

.container-title {
  color: white;
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
}

.tags {
  display: inline-block;
  margin: auto;
  font-size: 30px;
  font-weight: normal;
}

.title {
  font-size: 35px;
  font-weight: 500;
}
